<IfModule mod_rewrite.c>
  RewriteEngine On

  # Kalau request bukan file atau folder nyata
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Arahkan ke index.html
  RewriteRule ^ index.html [L]
</IfModule>
